In [1]:
# Importing necessary libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.preprocessing import OneHotEncoder

# Loading the dataset into a Pandas DataFrame

In [2]:
df = pd.read_csv("Data/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv"
)

In [3]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

 # Summary of the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   53392 non-null  int64
 1   YearEnd                     53392 non-null  int64
 2   LocationAbbr                53392 non-null  object
 3   LocationDesc                53392 non-null  object
 4   Datasource                  53392 non-null  object
 5   Class                       53392 non-null  object
 6   Topic                       53392 non-null  object
 7   Question                    53392 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             53392 non-null  object
 10  Data_Value                  48346 non-null  float64
 11  Data_Value_Alt              48346 non-null  float64
 12  Data_Value_Footnote_Symbol  5046 non-null   object
 13  Data_Value_Footnote         5046 non-null   object
 14  Low_Confidence_Limit        48346 non-null  float64
 15  High_Confidence_Limit       48346 non-null  float64
 16  Sample_Size                 48346 non-null  float64
 17  Total                       1907 non-null   object
 18  Age(years)                  11438 non-null  object
 19  Education                   7628 non-null   object
 20  Gender                      3814 non-null   object
 21  Income                      13349 non-null  object
 22  Race/Ethnicity              15256 non-null  object
 23  GeoLocation                 52384 non-null  object
 24  ClassID                     53392 non-null  object
 25  TopicID                     53392 non-null  object
 26  QuestionID                  53392 non-null  object
 27  DataValueTypeID             53392 non-null  object
 28  LocationID                  53392 non-null  int64
 29  StratificationCategory1     53392 non-null  object
 30  Stratification1             53392 non-null  object
 31  StratificationCategoryId1   53392 non-null  object
 32  StratificationID1           53392 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 13.4+ MB

In [5]:
df = df.drop(['Low_Confidence_Limit','High_Confidence_Limit ', 'Total', 'Data_Value_Alt', 'YearEnd','Topic','Class','Datasource','Data_Value_Unit','QuestionID','ClassID','TopicID','DataValueTypeID','Data_Value_Type','Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategoryId1','StratificationID1'],1);
df = df.drop(['GeoLocation'],1)

C:\Users\kurtu\AppData\Local\Temp\ipykernel_11220\4273286801.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['Low_Confidence_Limit','High_Confidence_Limit ', 'Total', 'Data_Value_Alt', 'YearEnd','Topic','Class','Datasource','Data_Value_Unit','QuestionID','ClassID','TopicID','DataValueTypeID','Data_Value_Type','Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategoryId1','StratificationID1'],1);
C:\Users\kurtu\AppData\Local\Temp\ipykernel_11220\4273286801.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['GeoLocation'],1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53392 entries, 0 to 53391
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearStart                53392 non-null  int64
 1   LocationAbbr             53392 non-null  object
 2   LocationDesc             53392 non-null  object
 3   Question                 53392 non-null  object
 4   Data_Value               48346 non-null  float64
 5   Sample_Size              48346 non-null  float64
 6   Age(years)               11438 non-null  object
 7   Education                7628 non-null   object
 8   Gender                   3814 non-null   object
 9   Income                   13349 non-null  object
 10  Race/Ethnicity           15256 non-null  object
 11  LocationID               53392 non-null  int64
 12  StratificationCategory1  53392 non-null  object
 13  Stratification1          53392 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 5.7+ MB

In [7]:
df.describe()

          YearStart    Data_Value   Sample_Size    LocationID
count  53392.000000  48346.000000   48346.00000  53392.000000
mean    2013.281465     31.156681    3889.19286     30.282215
std        1.693300     10.247033   19829.42129     16.821318
min     2011.000000      0.900000      50.00000      1.000000
25%     2012.000000     24.100000     566.00000     17.000000
50%     2013.000000     30.700000    1209.00000     30.000000
75%     2015.000000     37.000000    2519.00000     44.000000
max     2016.000000     77.600000  476876.00000     78.000000

## Standardizing the column names

In [8]:
def lower_case_column_names(df):
    df.columns=[i.lower() for i in df.columns]
    return df

In [9]:
df=lower_case_column_names(df)
df

,yearstart,locationabbr,locationdesc,question,data_value,sample_size,age(years),education,gender,income,race/ethnicity,locationid,stratificationcategory1,stratification1
0,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,32.0,7304.0,NaN,NaN,NaN,NaN,NaN,1,Total,Total
1,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,NaN,Male,NaN,NaN,1,Gender,Male
2,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,NaN,Female,NaN,NaN,1,Gender,Female
3,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,Less than high school,NaN,NaN,NaN,1,Education,Less than high school
4,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,High school graduate,NaN,NaN,NaN,1,Education,High school graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Asian,78,Race/Ethnicity,Asian
53388,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander,78,Race/Ethnicity,Hawaiian/Pacific Islander
53389,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,American Indian/Alaska Native,78,Race/Ethnicity,American Indian/Alaska Native
53390,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,2 or more races,78,Race/Ethnicity,2 or more races
53391,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Other,78,Race/Ethnicity,Other

## Checking for duplicate & missing values

In [10]:
print(df.duplicated().sum())

0

In [11]:
df.isna()

,yearstart,locationabbr,locationdesc,question,data_value,sample_size,age(years),education,gender,income,race/ethnicity,locationid,stratificationcategory1,stratification1
0,False,False,False,False,False,False,True,True,True,True,True,False,False,False
1,False,False,False,False,False,False,True,True,False,True,True,False,False,False
2,False,False,False,False,False,False,True,True,False,True,True,False,False,False
3,False,False,False,False,False,False,True,False,True,True,True,False,False,False
4,False,False,False,False,False,False,True,False,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,False,False,False,False,True,True,True,True,True,True,False,False,False,False
53388,False,False,False,False,True,True,True,True,True,True,False,False,False,False
53389,False,False,False,False,True,True,True,True,True,True,False,False,False,False
53390,False,False,False,False,True,True,True,True,True,True,False,False,False,False
53391,False,False,False,False,True,True,True,True,True,True,False,False,False,False

## Removing outliers

In [12]:
def remove_outliers(df):
    for col in df.select_dtypes(include=np.number).columns:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - (1.5 * iqr)
        upper_bound = q3 + (1.5 * iqr)
        df.drop(df[(df[col] < lower_bound) | (df[col] > upper_bound)].index, inplace=True)

In [13]:
remove_outliers(df)
df

,yearstart,locationabbr,locationdesc,question,data_value,sample_size,age(years),education,gender,income,race/ethnicity,locationid,stratificationcategory1,stratification1
1,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,NaN,Male,NaN,NaN,1,Gender,Male
2,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,NaN,Female,NaN,NaN,1,Gender,Female
3,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,Less than high school,NaN,NaN,NaN,1,Education,Less than high school
4,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,High school graduate,NaN,NaN,NaN,1,Education,High school graduate
5,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,33.8,1925.0,NaN,Some college or technical school,NaN,NaN,NaN,1,Education,Some college or technical school
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Asian,78,Race/Ethnicity,Asian
53388,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander,78,Race/Ethnicity,Hawaiian/Pacific Islander
53389,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,American Indian/Alaska Native,78,Race/Ethnicity,American Indian/Alaska Native
53390,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,2 or more races,78,Race/Ethnicity,2 or more races
53391,2016,VI,Virgin Islands,Percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,Other,78,Race/Ethnicity,Other

## Standardizing the text in the data

In [14]:
def standardize_text(df):
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].str.lower()

In [15]:
standardize_text(df)
df

,yearstart,locationabbr,locationdesc,question,data_value,sample_size,age(years),education,gender,income,race/ethnicity,locationid,stratificationcategory1,stratification1
1,2011,al,alabama,percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,NaN,male,NaN,NaN,1,gender,male
2,2011,al,alabama,percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,NaN,female,NaN,NaN,1,gender,female
3,2011,al,alabama,percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,less than high school,NaN,NaN,NaN,1,education,less than high school
4,2011,al,alabama,percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,high school graduate,NaN,NaN,NaN,1,education,high school graduate
5,2011,al,alabama,percent of adults aged 18 years and older who ...,33.8,1925.0,NaN,some college or technical school,NaN,NaN,NaN,1,education,some college or technical school
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,vi,virgin islands,percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,asian,78,race/ethnicity,asian
53388,2016,vi,virgin islands,percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,hawaiian/pacific islander,78,race/ethnicity,hawaiian/pacific islander
53389,2016,vi,virgin islands,percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,american indian/alaska native,78,race/ethnicity,american indian/alaska native
53390,2016,vi,virgin islands,percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,2 or more races,78,race/ethnicity,2 or more races
53391,2016,vi,virgin islands,percent of adults who engage in no leisure-tim...,NaN,NaN,NaN,NaN,NaN,NaN,other,78,race/ethnicity,other

# Data split for Numerical and Categorical variables

In [16]:
numerical_columns = df.select_dtypes(include=['int', 'float']).columns
numerical = df[numerical_columns]
numerical

       yearstart  data_value  sample_size  locationid
1           2011        32.3       2581.0           1
2           2011        31.8       4723.0           1
3           2011        33.6       1153.0           1
4           2011        32.8       2402.0           1
5           2011        33.8       1925.0           1
...          ...         ...          ...         ...
53387       2016         NaN          NaN          78
53388       2016         NaN          NaN          78
53389       2016         NaN          NaN          78
53390       2016         NaN          NaN          78
53391       2016         NaN          NaN          78

[47875 rows x 4 columns]

In [ ]:
numerical = numerical.fillna(df.mean())
numerical

In [ ]:
categorical_columns = df.select_dtypes(include=['object']).columns
categorical = df[categorical_columns]
categorical

# One-Hot Encoding for Categorical variables

In [ ]:
categorical.columns

In [ ]:
df['geolocation'].unique()

In [ ]:
#income
in_map = {'less than $15,000':0, '$15,000 - $24,999':1, '$25,000 - $34,999':2,'$35,000 - $49,999':3, '$50,000 - $74,999':4, 
          '$75,000 or greater':5, 'data not reported':6}
in_map
df['income'] = df['income'].map(in_map)

In [ ]:
#education
ed_map = {'less than high school': 0, 'high school graduate':1, 'some college or technical school':2,'college graduate':3}
ed_map
df['education'] = df['education'].map(ed_map)

In [ ]:
#race/ethnicity
rc_map = {'non-hispanic white': 0, 'non-hispanic black':1, 'hispanic':2,'asian':3, 'hawaiian/pacific islander':4,
       'american indian/alaska native':5, '2 or more races':6, 'other':7}
rc_map
df['race/ethnicity'] = df['race/ethnicity'].map(rc_map)

In [ ]:
#age(years)
ag_map = {'18 - 24': 0,  '25 - 34':1,  '35 - 44':2,'45 - 54':3, '55 - 64':4, '65 or older':5}
ag_map
df['age(years)'] = df['age(years)'].map(ag_map)

In [ ]:
df_dummies = pd.get_dummies(df['gender'], sparse=1,drop_first=1)

In [ ]:
df

# Ploting distributions of numerical data

In [ ]:
for col in numerical.columns:
    sns.displot(numerical[col])
    plt.show()

In [ ]:
numerical.info()

In [ ]:
numerical.hist(figsize=(20,15), grid=False)
plt.show()

# Plot relationships between Numerical variables

In [ ]:
sns.pairplot(numerical)

In [ ]:
numerical.corr()

In [ ]:
corr = numerical.corr()
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns, 
        annot=True, cmap='Reds')

In [ ]:
df.columns

In [ ]:
X = numerical.drop('data_value', axis=1)
y = numerical['data_value']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
X_train.head(3)

# Creating the Model

In [ ]:
# Specify the model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict the response on the test data
y_pred = model.predict(X_test)

# Evaluating the model using mean squared error and R-squared

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)